body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Garamond, "Times New Roman", serif;
  font-weight: bold;
  font-size: 36px;
  color: darkslategrey;
}

.section {
  background-color: rgb(215, 215, 215);
  padding: 10px;
  margin: 10px;
}

.attribution {
  font-size: 8px;
  margin-top: 0;
}